@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "halloween";
    default: false;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: oklch(13% 0.028 261.692);
    --color-base-200: oklch(21% 0.034 264.665);
    --color-base-300: oklch(27% 0.033 256.848);
    --color-base-content: oklch(96% 0.003 264.542);
    --color-primary: oklch(55% 0.288 302.321);
    --color-primary-content: oklch(97% 0.014 308.299);
    --color-secondary: oklch(64% 0.2 131.684);
    --color-secondary-content: oklch(98% 0.031 120.757);
    --color-accent: oklch(51% 0.262 276.966);
    --color-accent-content: oklch(96% 0.018 272.314);
    --color-neutral: oklch(13% 0.028 261.692);
    --color-neutral-content: oklch(98% 0.002 247.839);
    --color-info: oklch(78% 0.154 211.53);
    --color-info-content: oklch(30% 0.056 229.695);
    --color-success: oklch(84% 0.238 128.85);
    --color-success-content: oklch(27% 0.072 132.109);
    --color-warning: oklch(75% 0.183 55.934);
    --color-warning-content: oklch(26% 0.079 36.259);
    --color-error: oklch(70% 0.191 22.216);
    --color-error-content: oklch(25% 0.092 26.042);
    --radius-selector: 2rem;
    --radius-field: 2rem;
    --radius-box: 0.25rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 2px;
    --depth: 0;
    --noise: 0;
}
